body,p,span{
font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
font-family: 'Rubik', sans-serif;
}
a{
text-decoration:none;
}
img{
max-width:100%;
}
body .btn-primary{
padding:10px 40px;
font-size:16px;
background:#e73a3e !important;
border-color:#e73a3e;
position:relative;
z-index:1;
}
body .btn-primary:hover {
border-color:#111;
}
body .btn-primary::before{
content:"";
background:#111;
position:absolute;
top:0;
left:0;
width:0;
height:100%;
width:0;
z-index:-1;
transition:.4s;
}
body .btn-primary:hover::before{
width:100%;

}
.grybg{
background:#f9fafb;
}
/*nav*/
nav {
background:#fff;
}
.logo img{

}
.manu-div ul{
list-style:none;

}
.manu-div ul li{
position:relative;
}
.manu-div ul li:hover ul{
opacity:1;
visibility:visible;
top:100%;
}
.item-icon {
margin-left:3px;

}
.manu-div ul li ul{
position:absolute;
left:0;
top:150%;
width:200px;
list-style:none;
padding:10px;
background:#fff;
box-shadow:0px 0px 15px 0 rgba(0,0,0,.1);

opacity:0;
visibility:hidden;
transition:all .4s ease-in-out;
}

.manu-div ul li ul li {
flex-direction:column;
text-align:center;
}

.manu-div ul li ul li a{

}
.manu-div ul li a{
display:inline-block;
padding:10px 20px;
color:#111;
font-weight:500;
}

.manu-div ul li a:hover {


}
.header-info{
align-items:center;
}
.header-search {
width:60px;
font-size:22px;
text-align:center;
margin-right:20px;
border-right:1px solid #ddd;
}
.header-call {
width:220px;
}
.cll-icon {
font-size:34px;
color:#e73a3e;
}
.cll-info span {
color:#606060;
}
.cll-info a{
color:#111;
font-size:18px;
font-weight:500;
}
/*slider*/
.slider-section{
background:url("img/IMG_20200906_224325.jpg") no-repeat top center;
background-size:cover;
}
.slider-flex{
height:25vh;
display:flex;
align-items:center;
position:relative;
}
.slider-caption h6{
color:#e73a3e;

}

.slider-caption h1{
font-size:29px;
margin-top:10px;
margin-bottom:12px;
}

.slider-caption p{
font-weight:400;
color:#606060;
font-size:16px;
}
.header-social {
position:absolute;
left:0;
bottom:0;

}
.header-social ul{
list-style:none;
padding-left:0;
}

.header-social ul li span {
display:inline-block;
margin-right:24px;
font-size:18px;
position:relative;
}
.header-social ul li span::after{
content:"";
height:1px;
background:#111;
width:30px;
position:absolute;
top:51%;
left:0;
margin-left:80px;
}
.header-social ul li a{
padding:0 14px;
font-size:19px;
color:#111;
display:inline-block;
}
/* Running logo*/
.running-section {
border-bottom:1px solid #ddd;
}
.running-logo ul{
list-style:none;
justify-content:space-between;
padding-left:0;

}

.running-logo ul li img{
width:150px;
}
/*about*/
.About-section {

}
.about-img {
}
.finix-text h6{
color:#e73a3e;
font-weight:400;
}
.finix-text h2{
font-size:30px;
margin-bottom:10px;
margin-top:10px;
font-weight:400;
}
.finix-text p{
font-size:18px;
color:#606060;
padding-bottom:0;
}
.finix-text strong {
color:#606060;
font-size:20px;
font-weight:400;
}
.finix-text ul{
list-style:none;
margin-top:10px;
padding-left:0;
}
.finix-text ul li{
padding:5px 0;
}
.finix-text ul li::before{
content:"\f00c";
font-family:'Font Awesome 5 Free';
font-weight:600;
display:inline-block;
color:#e63b3d;
margin-right:10px;
}
/*why section*/
.why-section {

}
.why-div .finix-text {
position:relative;

}
.why-div .finix-text .play-button{
display:inline-block;
width:50px;
height:50px;
background:#fff;
color:#e73a3e;
position:absolute;
font-size:37px;
line-height:53px;
text-align:center;
right:48%;
bottom:15%;
border-radius:50%;
}
.play-button::before{
content:"";
position:absolute;
top:0;
left:0;
width:50px;
height:50px;
background:#e73a3e;
border-radius:50%;

animation:play-butn 1.6s ease-out infinite;
}
@keyframes play-butn{
0%,30%{
transform:scale(0);
opacity:1;
}
50%{
transform:scale(1.5);
opacity:.7;
}
100%{
transform:scale(2);
opacity:0;
}
}
.feature-item{
padding:30px;
background:#fff;
margin-bottom:20px;

position:relative;
overflow:hidden;
transition:.5s;
}

.feature-item::before{
content:"";
position:absolute;
top:-178px;
right:0;
left:0;
width:95%;
height:95%;
background:#e73a3e;
border-radius:50%;
margin:auto;
opacity:.4;
}
.feature-icon i{
color:#e73c3e;
font-size:30px;
background:#fff;
height:80px;
width:80px;
line-height:80px;
border-radius:50%;
position:relative;
transition:.5s;
}
.feature-item h3{
font-size:20px;

}
.mtop {
margin-top:-25px;

}

.feature-item:hover {
transform:translateY(-12px);
}
.feature-item:hover .feature-icon i{
background:#e73a3e;
color:#fff;
}
/**/
.Apply-section {


}
.apply-lft h2{

}
.step-timeline ul{
list-style:none;
position:relative;
padding-left:60px;
}
.step-timeline ul::before{
content:"";
position:absolute;
top:0;
left:15px;
width:1px;
height:calc(100% - 80px);
background:#e73a3e;

}
.step-timeline ul li{
margin-bottom:25px;
position:relative;
}
.step-timeline ul li::before{
content:attr(data-counter);
position:absolute;
top:0;
left:-65px;
width:40px;
height:40px;
line-height:40px;
text-align:center;
background:#f9fbfa;
border-radius:50%;
border:1px solid #e73a3e;
}
.step-timeline ul li strong {
font-size:24px;
margin-bottom:10px;
display:block;
}
.step-timeline ul li p{
color:#606060;
}

.calculate-section {
background:#fbebeb;
padding:50px;
}
.calculate-section .frm-h {
color:#606060;

}
.form-group {
margin-bottom:30px;

}
.form-group label {
display:block;
margin-bottom:10px;
}
.form-group input {
border:none;
border-radius:0;
padding:14px 15px;
}
.form-group select {
border:none;
border-radius:0;
height:53px;
}
/*call Action*/
.call-action-bg {
background:#e73a3e;
border-radius:6px;
color:#fff;
padding:40px;
}
.call-action-bg h2{
font-size:27px;
font-weight:500;
padding-bottom:0;
border-right:1px solid #ddd;
}
.call-action-bg span {
font-size:25px;
background:#fff;
color:#e73a3e;
width:50px;
height:50px;
line-height:50px;
margin-right:2px;
text-align:center;
border-radius:50%;
display:inline-block;
}
.cll-nbr a{
color:#fff;
font-size:30px;
text-decoration:none;
}
/*Company values section*/
.values-items {
margin-top:10px;

}
.values-items .value-icon{
font-size:35px;
margin-right:24px;
color:#e73a3e;
margin-top:-5px;
}

.values-items .values-text p{
color:#606060;

}
.company-img {
text-align:center;

}
/*service section*/
.Service-tab .srvc-cnt{
border-bottom:2px solid #ddd;
padding-bottom:15px;
margin-bottom:30px;
}
.Service-tab ul li{

}
.Service-tab ul li a{


}
.Service-tab ul li a span i{
width:80px;
height:80px;
line-height:80px;
background:#fff;
border-radius:50%;
font-size:35px;
color:#666;
}
.Service-tab ul.srvc-cnt li a{
position:relative;

}
.Service-tab ul.srvc-cnt li a.active::before{
content:"";
position:absolute;
bottom:-17px;
left:0;
width:100%;
height:1.7%;
background:#e73a3e;

}
.Service-tab ul li a.active span i{
color:#e73a3e;

}
.Service-tab ul li a strong {
color:#222;
font-weight:600;
margin-top:5px;
}
.tab-content ul {
list-style:none;
}
.tab-content ul li{
position:relative;
padding-left:0;
}

.tab-content ul li::before{
content:"";
position:absolute;
top:6px;
left:-20px;
width:9px;
height:9px;
background:#e73a3e;
border-radius:50%;

}
/*testimonial section*/
.testimonial-cnt p{
font-size:20px;

}
.tastimonial-cnt-detail h5{
color:#e73a3e;
margin-bottom:0;

}
/*member section*/
.member-item {

}
.member-image img{
width:100%;
height:auto;
}
.member-image {
position:relative;
}
.Member-social-icon {
position:absolute;
bottom:0;
left:0;
right:0;
margin:auto ;
}
.Member-social-icon ul{
padding-left:0;
text-align:center;
}
.Member-social-icon ul li{
display:inline-block;
transition:.5s ease-in-out;
transform:translateY(30px);
opacity:0;
visibility:hidden;
}
.member-image:hover .Member-social-icon ul li{
opacity:1;
visibility:visible;
transform:translateY(0);
}
.member-image .Member-social-icon ul li:nth-child(1){
transition-delay:.2s;
}
.member-image .Member-social-icon ul li:nth-child(2) {
transition-delay:.3s;
}
.member-image .Member-social-icon ul li:nth-child(3) {
transition-delay:.4s;
}
.member-image .Member-social-icon ul li:nth-child(4) {
transition-delay:.5s;
}
.Member-social-icon ul li a{
display:block;
width:26px;
height:26px;
line-height:27px;
border-radius:50%;
background:#fff;
color:#444;
transition:.4s;
}
.Member-social-icon ul li a:hover{
background:#e73a3e;
color:#fff;
}
.member-content h5{
color:#e73a3e;
font-size:17px;
padding-bottom:0;
margin-bottom:0;
margin-top:3px;
font-weight:400;
margin-top:8px;
}
.member-content p{
color:#666;

}
/*success-story-section*/
.sucs-cnt h6{
color:#e73a3e;
font-weight:400;
margin-top:10px;
font-size:14px;
}
.sucs-cnt a{
color:#111;
}
.sucs-cnt .sucs-fst-a h4{
font-size:18px;
font-weight:400;
transition:.4s;
}
.sucs-cnt .sucs-fst-a h4:hover{
color:#e73a3e;
}
.sucs-cnt .sucs-snd-a p{
font-size:15px;
transition:.4s;
}
.sucs-cnt:hover .sucs-snd-a p{
color:#e73a3e;
letter-spacing:1.5px;
}

/*footer section*/
.footer-section{
background:#111;
color:#fff;
}
.footer-section a{
color:#fff;
}
.footer-top {
border-bottom:1px solid #444;
}
.footer-widget h3{
font-size:22px;
border-bottom:1px solid #444;
padding-bottom:15px;
margin-bottom:20px;
}
.footer-widget ul{
list-style:none;
padding-left:0;
margin-left:0;
}
.footer-widget ul li{
margin:10px 0;

}
.footer-widget ul li a{
text-decoration:none;
transition:.4s;
}
.footer-widget ul li a:hover {
letter-spacing:1.5px;
color:#e73a3e;
}
/*footer social*/
.widget-social ul{
display:flex;

}
.widget-social ul li{
padding:10px 0;
margin:0 !important;
}
.widget-social ul li span {
display:inline-block;
margin-right:10px;
font-size:18px;
}
.widget-social ul li a{
font-size:20px;
padding:10px 10px;
}
.footer-contact .ftr-contact-item {
margin-bottom:20px;
}
.footer-contact .ftr-contact-item span {
display:inline-block;
margin-right:15px;
font-size:20px;
}
.copyright p{
margin-bottom:0;
padding-bottom:0;
color:#767676;
}
/*contact page*/
.breadcrumb-section {
padding:210px 0;
background-image:url("img/IMG_20200919_081117.jpg");
background-repeat:no-repeat;
background-position:center 20%;
position:relative;
z-index:4;
}
.breadcrumb-bg {
background:rgba(255,255,255,.01);
}
.breadcrumb-section::before{
content:"";
width:100%;
height:100%;
position:absolute;
top:0;
bottom:0;
background:rgba(255,255,255,.6);
z-index:-2;
}
.wid{
height:1000px;

}